.conteudo2Wrapper{
    padding-top: 2rem;
    padding-bottom: 40px;
    margin: 0 auto;
    max-width: var(--tamanho-maximo);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo2Wrapper h2{
    color: var(--color-white);
    padding-bottom: 2rem;
    max-width: 30ch;
}

@media (max-width:600px){
    .conteudo2Wrapper{
        text-align: center;
        padding: 1rem;
        flex-direction: column-reverse;
        gap: 2rem;
    }
}
