:root {
  --tamanho-maximo: 80rem;
  --bg-color: #ffffff;
  --bg-color-2: #000000;
  --color-white: #fff;
  --color-black: #000;
  --color-purple: #7A02D9;
  --color-green: #D7E6D1;
  --color-gray: #323232;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#000000, #010101 );
  font-family: "Inter", arial;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}